.discount
{
    height: 50px;
    transition: 1000ms;
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.discount:hover,
.editDiscount
{
    cursor: pointer;
    background-color: rgb(219, 238, 255);
}

.themeDark
{
    box-shadow: var(--box-shadow-themeDark);
}

.themeDark:hover,
.themeDark.editDiscount
{
    background-color: rgb(47, 76, 155);
}