.form__input,
.form__select
{
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 300ms;
    background: transparent;
    appearance: none;
}

.form__input:hover,
.form__select:hover
{
    background-color: rgb(87, 255, 171);
}

.form__input:focus,
.form__select:focus
{
    outline-color: rgb(87, 255, 171);
}

.form__btn
{
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}

.form__btn_submit
{
    background-color: rgb(87, 255, 171);
}

.form__btn_submit:hover
{
    background-color: rgb(0, 218, 109);
    color: whitesmoke;
}

.form__btn_submit:focus
{
    outline-color: rgb(0, 218, 109);
}

.form__btn_exit
{
    background-color: rgb(255, 104, 104);
}

.form__btn_exit:hover
{
    background-color: rgb(221, 0, 0);
    color: whitesmoke;
}

.form__btn_exit:focus
{
    outline-color: rgb(221, 0, 0);
}

.form__btn_delete
{
    background-color: rgb(247, 255, 134);
}

.form__btn_delete:hover
{
    background-color: rgb(200, 214, 0);
}

.form__btn_delete:focus
{
    outline-color: rgb(200, 214, 0);
}

@media (max-width: 1153px) {
    .form__exitBtn,
    .form__deleteBtn,
    .form__submitBtn
    {
        font-size: 10px;
    }
}

@media (max-width: 873px) {
    .form__input,
    .form__select
    {
        font-size: 12px;
    }
}

@media (max-width: 760px) {
    .form__input,
    .form__select
    {
        font-size: 10px;
    }
}