.header
{
   background-color: rgb(11, 104, 226);
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__btnContainer
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header__Btn
{ 
    border: 0;
    background-color: transparent;
    fill: white;
    width: 70px;
    height: 100%;
    transition: background-color 300ms;
    cursor: pointer;
}

.themeDark .header__Btn
{
    fill: black;
}

@media (min-width: 760px){
    .header__Btn:hover
    {
        background-color: rgb(67, 146, 250);
    }

    .header__Btn:focus-visible
    {
        outline: 0;
        background-color: rgb(67, 146, 250);
    }
}

@media (max-width: 760px){
   .header
    {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
        z-index: 2;
    }

    .header__Btn:active
    {
        background-color: rgb(67, 146, 250);
    }
}