.search
{
    position: relative;
}

.themeDark .search__input
{
    background-color: var(--bg-color3-themeDark);
    box-shadow: var(--box-shadow-themeDark);
    transition: 1000ms;
}

.themeDark .search__input::placeholder
{
    color: black;
}

.themeDark .search__select
{
    background-color: var(--bg-color3-themeDark);
    border-left: 1px solid var(--bg-color1-themeDark);
    border-right: 1px solid var(--bg-color1-themeDark);
    transition: 1000ms;
}

.search__input
{
    background-color: white;
    width: 350px;
    height: 20px;
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    box-shadow: inset 1px 1px 2px 0 rgb(150, 150, 150);
}

.search__input:focus
{
    outline: none;
}

.search__select
{
    background-color: white;
    height: 90%;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    top: 3px;
    right: 40px;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    appearance: none;
    cursor: pointer;
}

.search__select:focus
{
    outline: none;
}

.search__btn
{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    transition: 300ms;
}

.search__btn:hover
{
    transform: scale(1.1);
}

.btn__img
{
    width: 30px;
    height: 30px;
}

@media (max-width: 760px)
{
    .search
    {
        position: fixed;
        bottom: 65px;
        z-index: 99;
    }

    .search .search__input
    {
        box-shadow: 0 1px 2px 0 rgb(0, 17, 56);
    }

    .searchBtn
    {
        width: 70px;
        height: 100%;
        border: 0;
        background: transparent;
    }

    .searchBtn:active
    {
        background-color: rgb(67, 146, 250);
        cursor: pointer;
    }
}