.pageContainer
{
    background-color: var(--bg-color2);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 20px 10px 0 5px;
    padding: 10px 15px 30px 30px;
}

.messageEmptySearch
{
    text-align: center;
}

.themeDark
{
    background-color: var(--bg-color2-themeDark);
    box-shadow: var(--box-shadow-themeDark);
}

@media (max-width: 760px) {

    .pageContainer
    {
        margin: 5px;
        padding: 1px 1px 20px 5px;
    }
}