.ticket
{
    height: 50px;
    transition: background-color 1000ms;
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
}

.ticket:hover,
.editTicket
{
    background-color: rgb(219, 238, 255);
}

.themeDark
{
    box-shadow: var(--box-shadow-themeDark);
}

.themeDark:hover,
.themeDark.editTicket
{
    background-color: rgb(47, 76, 155);
}

.container__ticketStatus
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.ticket__status
{
    display: flex;
    justify-self: center;
    border-radius: 150px;
    width: 25px;
    height: 25px;
    box-shadow: inset var(--box-shadow);
}

.themeDark .ticket__status
{
    box-shadow: inset var(--box-shadow-themeDark);   
}

.ticket__status_active
{
    background-color: rgb(87, 255, 171);
}

.ticket__status_notActive
{
    background-color: lightgray;
}