.menu
{
    width: 70px;
    height: 98vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 300ms;
    z-index: 1;
}

.menu_openMenu
{
    width: 270px;
}

.menu__logo
{
    width: 270px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(173, 173, 173);
}

.logo__img{
    width: 60px;
    height: 60px;
    margin: 0 5px 0 5px;
}

.menu__list
{
    width: 270px;
    height: 100%;
    padding: 15px 0 15px;
    margin: 0;
}

.list__item
{
    width: 65px;
    height: 65px;
    margin-left: 3px;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    transition: 300ms;
    border-radius: 150px;
    background-color: var(--bg-color2);
    box-shadow: var(--box-shadow);
}

.list__item_menuOpen
{
    width: calc(100% - 10px);
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    border-radius: 5px;
}

.item__img
{
    width: 40px;
    height: 40px;
    margin-left: 12px;
}

.list__item__text
{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0 40px 0 40px;
}

.link
{
    text-decoration: none;
}

.themeDark .list__item,
.themeDark .menu__logo
{
    background-color: var(--bg-color2-themeDark);
    box-shadow: var(--box-shadow-themeDark);
}

@media (min-width: 760px) {
    .menu:hover
    {
        width: 270px;
    }

    .menu__logo:hover
    {
        background-color: rgba(67, 146, 250, 0.349);
    }

    .menu:hover .list__item
    {
        width: calc(100% - 10px);
        height: 80px;
        margin-left: 5px;
        margin-right: 5px;
        color: black;
        border-radius: 5px;
    }

    .list__item:hover
    {
        background-color: rgb(157, 199, 255);
        cursor: pointer;
    }
}

@media (max-width: 760px) {
    .menu
    {
        position: fixed;
        width: 100%;
        height: 60%;
        right: 0;
        bottom: 70px;
        box-shadow: 0 0 5px 1px gray;
        border-radius: 20px 20px 0 0;
        background-color: whitesmoke;
        overflow-y: auto;
        display: none;
    }

    .menu_openMenu
    {
        display: block;
    }

    .themeDark
    {
        box-shadow: 0 0 5px 1px rgb(0, 17, 56);
    }

    .menu:hover,
    .menu__logo,
    .menu__list
    {
        width: 100%;
    }

    .themeDark .menu__list
    {
        background-color: rgb(28, 41, 73);
    }

    .list__item
    {
        justify-content: center;
        transition: 100ms;
    }

    .menu__logo:active
    {
        background-color: rgba(67, 146, 250, 0.349);
    }

    .list__item:active
    {
        background-color: rgba(67, 146, 250, 0.349);
        cursor: pointer;
        transform: scale(1.2);
    }
}