:root
{
    --bg-color1: whitesmoke;
    --bg-color2: white;
    --bg-color1-themeDark: rgb(28, 41, 73);
    --bg-color2-themeDark: rgb(60, 78, 119);
    --bg-color3-themeDark: rgb(76, 97, 146);
    --box-shadow: 0 1px 2px 0 rgb(150, 150, 150);
    --box-shadow-themeDark: 0 1px 2px 0 rgb(0, 17, 56);
}

body
{
    background-color: var(--bg-color1);
    color: black;
}

body.themeDark
{
    background-color: var(--bg-color1-themeDark);
    transition: 1000ms;
}