.customer
{
    height: 50px;
    transition: background-color 1000ms;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    text-align: center;
}

.customer:hover,
.editCustomer
{
    cursor: pointer;
    background-color: rgb(219, 238, 255);
}

.themeDark
{
    box-shadow: var(--box-shadow-themeDark);
}

.themeDark:hover,
.themeDark.editCustomer
{
    background-color: rgb(47, 76, 155);
}

.name
{
    display: flex;
    align-items: center;
    height: 50px;
}

.name__icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    background-color: greenyellow;
    box-shadow: 0 1px 2px 0 rgb(0, 17, 56);
    margin: 0 2px 0 5px;
    width: 40px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
}

.name__containerIcon
{
    width: fit-content;
}

.name__containerText
{
    width: 100%;
}

.name__text
{
    margin: 0;
}

.customerItem
{
    position: relative;
}

.customerItem:hover .tooltip
{
    visibility: visible;
    opacity: 1;
}

.tooltip
{
    --width: 150px;
    position: absolute;
    top: -25px;
    left: calc(50% - var(--width)/2);
    width: var(--width);
    background-color: rgb(60, 78, 119);
    box-shadow: 0 1px 2px 0 rgb(0, 17, 56);
    border-radius: 20px;
    color: white;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1500ms cubic-bezier(1, 0, 0, 0);
}

.customerItem__text
{
    margin: 0;
}

@media (max-width: 760px) {
    .name__icon
    {
        width: 30px;
        height: 30px;
        font-size: 8px;
        margin-left: 1px;
    }
}