.form__input,
.form__select
{
    width: 100%;
    min-width: 10px;
    height: 48px;
    font-size: 16px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms;
    background: transparent;
    appearance: none;
}

.form__input:hover,
.form__select:hover
{
    background-color: rgb(87, 255, 171);
}

.form__input:focus,
.form__select:focus
{
    outline-color: rgb(87, 255, 171);
}

.form__btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 300ms;
    border-radius: 150px;
    box-shadow: 0 1px 2px 0 rgb(0, 17, 56);
    position: relative;
}

.form__btn_edit
{
    background-color: greenyellow;
}
.form__btn_delete
{
    background-color: yellow;
}
.form__btn_exit
{
    background-color: red;
}

.form__btn_edit:hover,
.form__btn_delete:hover,
.form__btn_exit:hover
{
    transform: scale(1.2);
    z-index: 1;
}

.form__btn_edit:hover .tooltip,
.form__btn_delete:hover .tooltip,
.form__btn_exit:hover .tooltip
{
    visibility: visible;
    opacity: 1;
}

.tooltip
{
    --width: fit-content;
    position: absolute;
    top: -20px;
    left: calc(50% - var(--width)/2);
    width: var(--width);
    background-color: rgb(60, 78, 119);
    box-shadow: 0 1px 2px 0 rgb(0, 17, 56);
    border-radius: 20px;
    padding: 1px 5px;
    color: white;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(1, 0, 0, 0);
}

@media (max-width: 1153px) {
    .form__exitBtn,
    .form__deleteBtn,
    .form__submitBtn
    {
        font-size: 10px;
    }
}

@media (max-width: 873px) {
    .form__input,
    .form__select
    {
        font-size: 12px;
    }
}

@media (max-width: 760px) {
    .form__input,
    .form__select
    {
        font-size: 10px;
    }
    
    .form__btn
    {
        width: 30px;
        height: 30px;
    }

    .form__btn__icon
    {
        width: 16px;
        height: 16px;
    }
}